body {
  margin: 0;
  padding: 0;
}

h4 {
  display: table;
  border-radius: 0.3em;
  border: 2px solid;
  padding: 0.4em;
  margin: 0 0.3em;
  color: rgb(0, 106, 114);
}

fieldset {
  border: 2px solid rgb(201, 48, 48);
  border-radius: 0.3em;
  display: inline-block;
}

.ok {
  color: rgb(28, 119, 47)
}

.err {
  color: rgb(201, 48, 48);
}

nav {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav>ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}

[data-folded] {
  padding: 0.3em;
  list-style: none;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 0.3em;
  border-style: none;
  margin: 0.2em;
}

[data-folded="true"] {
  line-height: 1em;
  background-color: rgb(56, 222, 228);
}

[data-folded="false"] {
  background-color: rgb(221, 63, 155);
  line-height: 2.3em;
}

[data-hiden="false"] {
  display: inline;
}

[data-hiden="false"] li {
  line-height: 1.2em;
  padding: 0.1em;
  list-style: none;
  background-color: rgb(255, 244, 210);
}

[data-hiden="true"] {
  display: none;
}

a {
  color: rgb(131, 36, 90);
}

a:visited {
  color: rgb(0, 146, 139);
}

#auth_data {
  display: none
}

#auth_data[state="auth"] {
  display: block
}